/*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*/
body{
    text-align:center;
    background-color: #faa307;
    color: #ffffff;
}
ul{
    text-decoration: none;
    list-style: none;
}
a{
    color: #9d0208;
}
a:hover{
    color: #ffffff;
}
