* {
    margin: 30px auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: #faa307;
    color: #ffffff;
}
h1{
    font-size: 4rem;
}
div{
    width: 60%;
}
img{
    border: 15px double #637c0a;
    margin: 15px;
    border-radius: 30px;
}