* {
    margin: 30px auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: #faa307;
    color: #000000;
}
h1{
    font-size: 4rem;
}
div{
    width: 60%;
}
img{
    border: 15px double #637c0a;
    margin: 15px;
    border-radius: 30px;
}
figcaption{
    font-size: 1.2rem;
}
h2{
    font-size: 2.5rem;
}
p, ol, ul{
    text-decoration: none;
    list-style: none;
    font-size: 1.8rem;
}